.homeTopContainer {
    margin-top: 100px;
}

.homeName {
    font-size: 5.625rem;
    font-family: 'Sacramento', serif;
    color: var(--tertiaryColor);
    text-align: center;
}

.homeEmoji {
    width: 10%;
}

.homeCareer {
    font-family: 'Montserrat', serif;
    font-size: 1.5rem;
    color: var(--tertiaryColor);
}

.homeImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
}

@media all and (max-width:780px) {
    .homeImg {
        width: 100%;
    }

    .homeName {
        font-size: 2rem;
        margin: 0 5%;
    }

    .homeCareer {
        margin: 0 5%;
        font-size: 1rem;
        margin-bottom: 10%;
    }
}

@media all and (max-width:300px) {
    .homeTopContainer {
        margin-top: 200px;
    }
}