@import '../../styles/global.css';

.footer {
    background-color: var(--tertiaryColor);
    padding: 3% 0 2% 0;
    display: flex;
    flex-direction: column;
}

.copyright {
    color: var(--primaryColor);
    font-size: 1rem;
    padding: 1% 0;
}

.fa-brands, .fa-solid{
  color: var(--primaryColor);
}


  @media screen and (max-width: 770px) {
    .laptopIcons {
      display:none;
    }
  }

  @media screen and (min-width: 770px) {
    .mobileIcons {
      display:none;
    }
  }